{erl_opts, [debug_info, {parse_transform, lager_transform}]}.

{lib_dirs,["lib"]}.

{deps_dir, ["lib"]}.

{deps, [
	{'lager', ".*", {git, "git://github.com/erylee/lager.git", {branch, "master"}}},
	{'elog', ".*", {git, "git://github.com/erylee/elog.git", {branch, "master"}}},
	{'extlib', ".*", {git, "git://github.com/erylee/extlib.git", {branch, "master"}}},
	{'evmon', ".*", {git, "git://github.com/erylee/evmon.git", {branch, "master"}}},
	{'sesnmp', ".*", {git, "git://github.com/erylee/sesnmp.git", {branch, "master"}}},
	{'rabbit_common', ".*", {git, "git://github.com/hejin1026/rabbit_common.git", {branch, "master"}}},
	{'amqp_client', ".*", {git, "git://github.com/erylee/erlang-amqp-client.git", {branch, "master"}}}
]}.
